@import "../../variables.modules";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%; } }
      
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;

  @media only screen and (min-width: 940px) {
    font-size: 3rem;
    text-align: left;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 2.5rem;
    text-align: left;
  }
}

h3 {
  font-size: 2rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 2.2rem;
    text-align: left;
  }
}


.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 80% 80%;
  display: inline-block;
}

a {
  color: $dark;
  transition: color 200ms ease;
}

a:hover {
  color: $lightgray;
  transition: color 200ms ease;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.aboutHeading {
  font-size: 1.6rem;
  text-align: left;
  margin: auto auto 2rem auto;
}

.aboutp {
  font-size: 1.3rem;
  text-align: left;
  margin: 1rem auto 2rem auto;
  line-height: 3rem;

  @media only screen and (min-width: 940px) {
    font-size: 1.5rem;
    text-align: left;
    line-height: 3rem;
  }
}

.skills__skill {
  padding: 1rem 1.5rem;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  font-size: 1rem;
  background: rgba(#999, 0.2);
  border-radius: 5px;
  font-weight: 600;

  @media only screen and (min-width: 940px) {
    font-size: 1.2rem;
    text-align: left;
  }
}


.column {
  float: left;
  width: 100%;
  padding-top: 3rem;

  @media only screen and (min-width: 1100px) {
    padding: 5.5rem;
    width: 50%;
  }
}

.row:after {
  display: table;
  clear: both;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1.5rem 2rem;
  background: #0062b9;
  border: 2px solid #0062b9;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}

.btn:hover {
  transform: translateY(-3px);
}

.center {
  text-align: center;
  margin: 1rem auto auto auto;
}

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}